* {
    margin: 0;
    padding: 0;
}

p, div, pre, textarea {
    font-family: Arial, Helvetica, sans-serif;
}

pre {
    white-space: pre-wrap;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

#main_screen_logo {
    margin-left: 20px;
    text-align: center;
    width: 270px;
    height: 80px;
}

.logo_image {
    height: 80px;
    width: auto;
}

#game_title {
    width: 300px;
    height: 80px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

#menu_buttons {
    display: flex;
    margin-right: 20px;
    width: 270px;
    height: 80px;
    align-items: center;
    flex-wrap: nowrap;
}

.header_button {
    display:inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#profile_button {
    display:inline-block;
    margin: 5px 5px 5px 0px;
    width: 70px;
    height: 70px;
    border: 2px solid lightgrey;
    border-radius: 5px;
}

#secondary_screen_buttons {
    display: flex;
    margin-left: 20px;
    width: 270px;
    height: 80px;
    align-items: center;
    flex-wrap: nowrap;
}

#secondary_screen_title {
    width: 700px;
    height: 80px;
    text-align: center;
    font-size: 56px;
    font-weight: bold;
}

#secondary_screen_logo {
    margin-right: 20px;
    text-align: center;
    width: 270px;
    height: 80px;
}

.menu_button_image {
    display: block;
    width: 70px;
    height: auto;
}

#main_panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#game_message {
    background-color: white;
    padding: 20px;
    min-width: 350px;
    width: 20%;
    height: 200px;
    font-weight: bold;
    border-style: double;
    border-width: 10px;
    border-color: goldenrod;
}

#game_panel {
    background-color: darkblue;
    display: flex;
    width: 45%;
    height: 785px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#table_panel {
    display: flex;
    margin-top: 10px;
    width: 85%;
    height: 675px;
    justify-content: space-around;
    align-items: center;
}

#character_table {
    background-color: white;
    margin: 10px;
    border: 5px solid;
    border-collapse: collapse;
}

#animal_table {
    background-color: white;
    margin: 10px;
    border: 5px solid;
    border-collapse: collapse;
}

.td_english_eight {
    width: 100px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    text-align: center;
    font-weight: bold;
    font-size: 48px;
}

.td_english_ten {
    width: 90px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    text-align: center;
    font-weight: bold;
    font-size: 42px;
}

.td_english_twelve {
    width: 80px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
}

.td_telugu_eight {
    width: 100px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

.td_telugu_ten {
    width: 90px;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    text-align: center;
    font-weight: bold;
    font-size: 26px;
}

.td_telugu_twelve {
    width: 80px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.animal_image {
    width: 38px;
    height: auto;
}

#clue_box {
    background-color: white;
    padding: 20px;
    min-width: 350px;
    width: 20%;
    height: 200px;
    font-weight: bold;
    border-style: double;
    border-width: 10px;
    border-color: goldenrod;
}

#submission_panel {
    display: flex;
    width: 80%;
    height: 120px;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#input_box {
    padding: 5px 20px 5px 20px;
    width: 80%;
    font-size: 48px;
}

#submit_button {
    margin-left: 20px;
    width: 20%;
    height: 55px;
    font-size: 20px;
    color:white;
    background-color:royalblue;
}

#stat_modal_title {
    width: 100%;
    height: 50px;
    padding-top: 30px;
    text-align: center;
    font-size: 24px;
}

#stat_values {
    width: 100%;
    height: 80px;
    text-align: center;
}

#stat_labels {
    width: 100%;
    height: 80px;
    text-align: center;
}

.stat_value {
    display: inline-block;
    width: 100px;
    height: 45px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
}

.stat_label {
    display: inline-block;
    width: 100px;
    height: 75px;
    text-align: center;
    font-size: 12px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
}

.help_image {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}
  
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0;
    padding: 15px 0;
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    background: #1ab188;
    color: #ffffff;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-appearance: none;
}

.button:hover, .button:focus {
    background: #179b77;
}

.top-row:after {
    content: "";
    display: table;
    clear: both;
}

.top-row > div {
    float: left;
    width: 48%;
    margin-right: 4%;
}

.top-row > div:last-child {
    margin: 0;
}
  
.button-block {
    display: block;
    width: 100%;
}

#body_panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#form_panel {
    background-color: white;
    display: flex;
    margin-top: 40px;
    width: 40%;
    height: 550px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 24px;
    border-style: double;
    border-width: 10px;
    border-color: goldenrod;
}

#login_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.login_label {
    font-weight: bold;
    font-size: 24px;
}

#email_field {
    margin: 30px;
    padding-left: 10px;
    height: 50px;
    width: 80%;
    font-size: 24px;
}

#password_field {
    margin: 30px;
    padding-left: 10px;
    height: 50px;
    width: 80%;
    font-size: 24px;
}

#login_submit_button {
    margin: 20px;
    width: 20%;
    height: 50px;
    font-size: 24px;
    color:white;
    background-color:royalblue;
}

#login_message {
    margin: 20px;
    padding-top: 20px;
    text-align:center;
    font-size: 24px;
    height: 100px;
    width: 80%;
    color:red;
}

#add_word_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#update_word_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#revise_word_form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.input_label {
    font-weight: bold;
    font-size: 24px;
}

#input_radio_buttons {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#radio_options {
    width: 20%;
}

.input_radio {
    width: 40px;
}

.input_text_field {
    margin: 20px;
    padding-left: 10px;
    width: 90%;
    height: 50px;
    font-size: 24px;
}

.input_text_area {
    margin: 20px;
    padding: 10px;
    font-size: 24px;
    width: 90%;
    height: 100px;
    resize: none;
}

.form_panel_submit {
    margin: 20px;
    width: 20%;
    height: 50px;
    font-size: 24px;
    color:white;
    background-color:royalblue;
}

@media only screen and (max-width: 1250px) {
    header {
        height: 90px;
    }
    
    #game_message {
        margin-top: 20px;
        width: 65%;
        height: 75px;
        border-width: 5px;
    }

    #game_panel {
        width: 100%;
    }

    #clue_box {
        margin-top: 20px;
        width: 65%;
        height: 50px;
        border-width: 5px;
    }

    .modal-content {
        width: 70%;
    }
  }

  @media only screen and (max-width: 912px) {
    .logo_image {
        margin-top: 10px;
        height: 60px;
        width: auto;
    }

    #game_title {
        padding-top: 10px;
        font-size: 40px;
    }

    .header_button {
        width: 50px;
        height: 50px;
    }

    #profile_button {
        width: 50px;
        height: 50px;
    }

    .menu_button_image {
        width: 50px;
        height: auto;
    }

    #secondary_screen_title {
        padding-top: 20px;
        font-size: 40px;
    }

    #form_panel {
        width: 60%;
    }

    #radio_options {
        width: 35%;
    }
  }

  @media only screen and (max-width: 414px) {
    header {
        height: 50px;
    }

    #main_screen_logo {
        margin-left: 5px;
        width: 120px;
        height: 40px;
    }

    .logo_image {
        margin-top: 5px;
        height: 30px;
        width: auto;
    }

    #game_title {
        margin-bottom: 10px;
        width: 120px;
        height: 40px;
        font-size: 20px;
    }

    #menu_buttons {
        margin-right: 5px;
        width: 120px;
        height: 40px;
    }

    #secondary_screen_buttons {
        margin-left: 5px;
        width: 85px;
        height: 40px;
    }

    #secondary_screen_title {
        padding-top: 10px;
        width: 170px;
        height: 30px;
        font-size: 16px;
    }

    #secondary_screen_logo {
        margin-right: 5px;
        width: 85px;
        height: 40px;
        text-align: right;
    }

    .header_button {
        width: 30px;
        height: 30px;
    }

    #profile_button {
        width: 30px;
        height: 30px;
    }

    .menu_button_image {
        width: 30px;
        height: auto;
    }

    #game_message {
        margin-top: 10px;
        padding: 10px;
        width: 85%;
        min-width: 250px;
        height: 60px;
        font-size: 12px;
        border-width: 3px;
    }

    #game_panel {
        width: 100%;
        height: 470px;
    }

    #clue_box {
        margin-top: 5px;
        padding: 10px;
        width: 85%;
        min-width: 250px;
        height: 50px;
        font-size: 12px;
        border-width: 3px;
    }

    #table_panel {
        height: 400px;
    }

    #character_table {
        margin: 5px;
        border: 2px solid;
    }
    
    #animal_table {
        margin: 5px;
        border: 2px solid;
    }

    .td_english_eight {
        width: 45px;
        min-width: 30px;
        height: 35px;
        min-height: 20px;
        border: 2px solid;
        font-size: 18px;
    }
    
    .td_english_ten {
        width: 45px;
        min-width: 30px;
        height: 35px;
        min-height: 20px;
        border: 2px solid;
        font-size: 18px;
    }
    
    .td_english_twelve {
        width: 45px;
        min-width: 30px;
        height: 30px;
        min-height: 20px;
        border: 2px solid;
        font-size: 18px;
    }
    
    .td_telugu_eight {
        width: 45px;
        min-width: 30px;
        height: 35px;
        min-height: 20px;
        border: 2px solid;
        font-size: 16px;
    }
    
    .td_telugu_ten {
        width: 45px;
        min-width: 30px;
        height: 35px;
        min-height: 20px;
        border: 2px solid;
        font-size: 16px;
    }
    
    .td_telugu_twelve {
        width: 45px;
        min-width: 30px;
        height: 30px;
        min-height: 20px;
        border: 2px solid;
        font-size: 16px;
    }

    .animal_image {
        width: 22px;
        height: auto;
    }

    #submission_panel {
        width: 90%;
        height: 60px;
    }
    
    #input_box {
        padding: 10px;
        font-size: 18px;
    }
    
    #submit_button {
        margin-left: 10px;
        height: 40px;
        font-size: 14px;
    }

    .modal-content {
        padding: 10px;
        width: 90%;
        font-size: 10px;
    }

    .help_image {
        width: 22px;
        height: auto;
    }

    #stat_modal_title {
        padding-top: 10px;
        font-size: 18px;
    }

    #stat_values, #stat_labels {
        height: 50px;
    }

    .stat_value {
        width: 55px;
        height: 25px;
        padding-top: 20px;
        font-size: 16px;
    }

    .stat_label {
        display: inline-block;
        width: 55px;
        height: 40px;
        vertical-align: top;
        text-align: center;
        font-size: 12px;
    }

    #form_panel {
        margin-top: 100px;
        width: 80%;
        height: 300px;
        font-size: 14px;
        border-width: 5px;
    }
    
    .login_label {
        font-size: 14px;
    }
    
    #email_field {
        margin: 10px;
        padding-left: 10px;
        height: 25px;
        width: 80%;
        font-size: 14px;
    }
    
    #password_field {
        margin: 10px;
        padding-left: 10px;
        height: 25px;
        width: 80%;
        font-size: 14px;
    }
    
    #login_submit_button {
        margin-top: 10px;
        height: 40px;
        font-size: 14px;
    }
    
    #login_message {
        margin: 10px;
        padding-top: 10px;
        text-align:center;
        font-size: 14px;
        height: 50px;
        width: 80%;
    }

    .input_label {
        font-size: 14px;
    }
    
    #input_radio_buttons {
        margin: 10px;
        height: 40px;
    }
    
    #radio_options {
        width: 80%;
    }
    
    .input_radio {
        width: 30px;
    }
    
    .input_text_field {
        margin: 10px;
        padding-left: 10px;
        width: 90%;
        height: 25px;
        font-size: 14px;
    }
    
    .input_text_area {
        margin: 10px;
        font-size: 14px;
        width: 90%;
        height: 40px;
    }
    
    .form_panel_submit {
        margin-top: 10px;
        width: 20%;
        height: 30px;
        font-size: 14px;
    }
  }
